<% flash.each do |type, message| %>
  <div class="alert alert-<%= type %> alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div class="text-center">
      <%= message %>
    </div>
  </div>
<% end %>
