<tr>
  <td><%= product.id %></td>
  <td><%= product.name %></td>
  <td><%= product.price %> VND</td>
  <td>
    <%= link_to "#", class: "btn btn-success btn-sm" do %>
      <span class="glyphicon glyphicon-shopping-cart"></span> Buy
    <% end %>
  </td>
</tr>
